body {
	background-color : #484848;
	margin: 0;
	padding: 0;
}
h1 {
	color: #00ff00;
	text-align : center;
}

h2 {
	text-decoration: underline;
	text-shadow: 3px 2px black;
	color: #00ff00;
}

form {
	width: 475px;
	margin-left: auto;
	margin-right: auto;
}
.formbox{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.formbox1{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	border: 2px solid #3366cc;
	border-radius: 10px;
	background-color : lightgray;
}
table, th, td {
	border: 1px solid white;
	color :#00ff00;
	width:100%;
}
#preinput{
	color :white;
}
#inputid{
	width: 199px;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;
}
#inputid0{
	width: 199px;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;
}
#clickbox{
	width: 110px;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}
button {
	background-color:darkgray;
	width: 180px;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
	border: 1px solid #3366cc;
	border-radius: 10px;
}
button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 /* Dropdown Button */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 4px;
	font-size: 15px;
	border: none;
	cursor: pointer;
	width:94px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 50px;
	box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 3px 3px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:silver;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
